/* Colour Scheme */

:root {
  --dark-blue: hsl(212, 27%, 29%);
  --grey-green: hsl(153, 8%, 93%);
  --grey-blue: hsl(212, 20%, 97%);
}

/* Basic reset */

html,
body {
  border: none;
  box-sizing: border-box;
  height: 100vh;
  margin: 0;
  outline: none;
  padding: 0;
  width: 100vw;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background-color: var(--grey-green);
  color: var(--dark-blue);
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
}

/* Your styles here ... */
.game-board {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-column-gap: 2px;
  grid-row-gap: 2px;

  width: 50vw;
  height: 50vw;
  min-width: 300px;
  min-height: 300px;
  padding: 25px;
}

.game-square {  
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #fff;
}